BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 2
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
BinPackParameters: false
BinPackArguments : false
AlignConsecutiveMacros: AcrossEmptyLines
AllowAllArgumentsOnNextLine: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeSquareBrackets: false
SpacesBeforeTrailingComments: 4

