Checks:  "fuchsia-trailing-return,
          google-objc-function-naming,
          google-readability-casting,
          readability-identifier-naming,
          readability-function-size,
          readability-duplicate-include,
          readability-else-after-return,
          readability-isolate-declaration,
          readability-magic-numbers,
          readability-misplaced-array-index,
          readability-misleading-indentation,
          readability-suspicious-call-argument,
          clang-analyzer-core.DynamicTypePropagation"
CheckOptions:
  - { key: readability-identifier-naming.FunctionCase, value: camelBack }
  - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.LocalVariableCase, value: lower_case }
  - { key: readability-identifier-naming.MemberCase, value: lower_case }
  - { key: readability-identifier-naming.MemberSuffix, value: _ }
  - { key: readability-identifier-naming.StructCase, value: CamelCase } # seems to be broken https://github.com/llvm/llvm-project/issues/55422 - but i think it makes sense to keep it here
  - { key: readability-identifier-naming.StructPrefix, value: _ } # same issue here
  - { key: readability-identifier-naming.StructSuffix, value: _ } # and here
  - { key: readability-identifier-naming.EnumCase, value: CamelCase }
  - { key: readability-identifier-naming.EnumPrefix, value: _ }
  - { key: readability-identifier-naming.EnumSuffix, value: _ }
  - { key: readability-identifier-naming.TypedefCase, value: CamelCase }
  - { key: readability-function-size.LineThreshold, value: 80 }


# casing options:
#
# lower_case
# UPPER_CASE
# camelBack
# CamelCase
# camel_Snake_Back
# Camel_Snake_Case
# aNy_CasE
